body {
    background-color: #234;
    color: white;
    text-align: center;
}

#form-ulpoad input {
    width: 256px;
    height: 256px;
    position: relative;

}


#form-upload input::after {
    position: absolute;
    content: "";
    display: block;
    width: 256px;
    height: 256px;
    background-image: url(upload.jpg);


    z-index: 1;
    cursor: pointer;

}

#form-upload img {
    width: 400px;
    display: none;
    position: absolute;
}

#form-upload hr {
    position: absolute;

}